<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>BUSSINESS.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsrLogCheck</servlet-name>
        <servlet-class>BUSSINESS.UsrLogCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostVisuals</servlet-name>
        <servlet-class>BUSSINESS.PostVisuals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProPicUpdate</servlet-name>
        <servlet-class>BUSSINESS.ProPicUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>POUpdateProfile</servlet-name>
        <servlet-class>BUSSINESS.POUpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHProPicUpdate</servlet-name>
        <servlet-class>BUSSINESS.SHProPicUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>POnrAddPrdts</servlet-name>
        <servlet-class>BUSSINESS.POnrAddPrdts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventADD</servlet-name>
        <servlet-class>BUSSINESS.EventADD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsrCgeProfile</servlet-name>
        <servlet-class>BUSSINESS.UsrCgeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsrPicUpdate</servlet-name>
        <servlet-class>BUSSINESS.UsrPicUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URLPostVisuals</servlet-name>
        <servlet-class>BUSSINESS.URLPostVisuals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mail</servlet-name>
        <servlet-class>BUSSINESS.MAILSEND.mail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsrLogCheck</servlet-name>
        <url-pattern>/UsrLogCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostVisuals</servlet-name>
        <url-pattern>/PostVisuals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProPicUpdate</servlet-name>
        <url-pattern>/ProPicUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>POUpdateProfile</servlet-name>
        <url-pattern>/POUpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHProPicUpdate</servlet-name>
        <url-pattern>/SHProPicUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>POnrAddPrdts</servlet-name>
        <url-pattern>/POnrAddPrdts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventADD</servlet-name>
        <url-pattern>/EventADD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsrCgeProfile</servlet-name>
        <url-pattern>/UsrCgeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsrPicUpdate</servlet-name>
        <url-pattern>/UsrPicUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URLPostVisuals</servlet-name>
        <url-pattern>/URLPostVisuals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mail</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
